<%= simple_form_for @user, url: profile_path, method: :put, html: { class: 'col-lg-9' } do |f| %>
  <div class='panel panel-primary'>
    <div class='panel-heading'>
      <%= t('.edit_profile') %>
    </div>

    <div class='panel-body'>
      <%= f.input :email %>
      <%= f.input :first_name %>
      <%= f.input :last_name %>
    </div>

    <div class='panel-footer'>
      <%= f.button :submit, class: 'btn btn-primary', value: t('.update') %>
    </div>
  </div>
<% end %>