<div>
    <%= page_header t('.header'), tooltip: { title: t('.tooltip') } %>
  </div>
  <% if @answers.empty? %>
    <h4><%= t('.no_answers_message') %></h4>
  <% else %>
    <%= render partial: 'your_answers/index/list' %>
  <% end %>
</div>