<div class="option nested-fields form-inline custom_text">
  <input type="radio" disabled> <%= f.input :text, label: false, readonly: true, input_html: { value: t('surveys.defaults.custom_option_text_placeholder') } %>
  <%= link_to_remove_association raw('<span aria-hidden="true">&times;</span>'), f, class: 'btn' %>
  <%= f.hidden_field :position, class: :option_position %>
  <%= f.hidden_field :custom, value: true %>
</div>