<div class="option nested-fields form-inline">
  <input type="radio" disabled> <%= f.input :text, label: false, placeholder: t('surveys.defaults.option_text_placeholder') %>
  <%= link_to_remove_association raw('<span aria-hidden="true">&times;</span>'), f, class: 'btn' %>
  <%= f.hidden_field :position, class: :option_position %>
</div>