<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
    <tr>
      <th><%= sort_link t('surveys.index.title'), :title %></th>
      <th><%= sort_link t('surveys.index.author'), :author_email %></th>
      <th><%= sort_link t('surveys.index.created_at'), :created_at %></th>
      <th><%= sort_link t('surveys.index.active_since'), :active_since %></th>
      <th><%= sort_link t('surveys.index.active_until'), :active_until %></th>
    </tr>
    </thead>
    <tbody>
    <% @surveys.each do |survey| %>
      <tr>
        <td><%= link_to survey.title, survey_path(survey) %></td>
        <td><%= user_display_email(survey.owner) %></td>
        <td><%= survey.created_at %></td>
        <td><%= survey.active_since || '-' %></td>
        <td><%= survey.active_until || '-' %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
  <%= will_paginate @surveys, renderer: BootstrapPagination::Rails %>
</div>