<%= simple_form_for @survey do |f| %>
  <div id='survey'>
      <div class='panel panel-primary'>
        <div class='panel-heading'>
          <%= t('surveys.new.main_settings') %>
        </div>

        <div class='panel-body'>
          <div class='row'>
            <div class='col-lg-12'>
              <%= f.input :title, placeholder: t('surveys.defaults.survey_title_placeholder') %>
            </div>
          </div>
          <div class='row'>
            <div class='col-lg-3'>
              <%= f.input :public, as: :radio_buttons %>
            </div>
            <div class='col-lg-3 left-border' id='privacy-options'>
              <%= f.input :token_user_ids, as: :string, input_html: { class: 'user-autocomplete', data: { pre: @survey.users.map(&:autocomplete_format).to_json } }, label: 'Users' %>
              <%= f.input :token_group_ids, as: :string, input_html: { class: 'group-autocomplete', data: { pre: @survey.groups.to_json } }, label: 'Groups' %>
            </div>
          </div>
          <div class='row'>
            <div class='col-lg-3'>
              <%= f.input :active_since, as: :datetime_picker, readonly: true %>
              <%= f.input :active_until, as: :datetime_picker, readonly: true %>
              <%= f.input :max_answers, input_html: { min: 0, type: 'number' }, label: t('surveys.new.answer_limit'), hint: t('surveys.new.answer_limit_hint') %>
              <%= f.input :max_answers_per_user, input_html: { min: 0, type: 'number' }, label: t('surveys.new.answer_limit_per_user'), hint: t('surveys.new.answer_limit_per_user_hint') %>
            </div>
          </div>
        </div>
      </div>

      <%= f.error :question_groups, class: 'has-error' %>
      <div class='sections'>
        <%= f.simple_fields_for :question_groups do |qg| %>
          <%= render partial: 'surveys/create/section', locals: { f: qg } %>
        <% end %>
      </div>
      <%= link_to_add_association raw('<span class="glyphicon glyphicon-plus" aria-hidden="true"></span> '+t('surveys.new.add_section')), f, :question_groups,
                                  partial: 'surveys/create/section',
                                  class: 'btn btn-default',
                                  data: { 'association-insertion-node' => '.sections', 'association-insertion-method' => 'append'} %>
  </div>
  <%= f.button :submit, class: 'btn btn-primary' %>
<% end %>