<div class='panel nested-fields question'>
  <div><%= link_to_remove_association raw('<span aria-hidden="true">&times;</span>'), f, class: 'btn close btn-xs text-right' %></div>
  <div class="drag-handle"></div>

  <div class="question-content">
    <%= f.input :text, label: t('surveys.new.question_text_label'), placeholder: t('surveys.defaults.question_text_placeholder') %>
    <%= f.input :question_type, collection: Question.question_types.keys.map(&:to_sym), include_blank: false, input_html: { class: 'question-type', disabled: f.object.persisted? } %>
    <%= f.input :mandatory %>
    <%= f.hidden_field :position, class: :question_position %>

    <%= f.error :options, class: 'has-error' %>

    <div class="options">
      <%= f.simple_fields_for :options do |qo| %>
        <%= render partial: partial_for_option(f.object.question_type, qo.object), locals: { f: qo } %>
      <% end %>
    </div>

    <%= link_to_add_association raw(t('surveys.new.add_user_option') + '<br/><br/>'), f, :options, class: 'custom_text', partial: 'surveys/create/options/custom_multiple_choice',
                                data: { 'option-type' => 'multiple_choice', 'association-insertion-node' => '.options', 'association-insertion-method' => 'append', 'association-insertion-traversal' => 'siblings' } %>

    <%= link_to_add_association raw('<span class="glyphicon glyphicon-plus" aria-hidden="true"></span> '+t('surveys.new.add_option')),
                                f, :options, partial: 'surveys/create/options/multiple_choice', class: 'btn btn-default',
                                data: { 'option-type' => 'multiple_choice', 'association-insertion-node' => '.options', 'association-insertion-method' => 'append', 'association-insertion-traversal' => 'siblings' } %>


    <%= link_to_add_association raw(t('surveys.new.add_user_option') + '<br/><br/>'), f, :options, class: 'custom_text', partial: 'surveys/create/options/custom_single_choice',
                                data: { 'option-type' => 'single_choice', 'association-insertion-node' => '.options', 'association-insertion-method' => 'append', 'association-insertion-traversal' => 'siblings' } %>

    <%= link_to_add_association raw('<span class="glyphicon glyphicon-plus" aria-hidden="true"></span> '+t('surveys.new.add_option')),
                                f, :options, partial: 'surveys/create/options/single_choice', class: 'btn btn-default',
                                data: { 'option-type' => 'single_choice', 'association-insertion-node' => '.options', 'association-insertion-method' => 'append', 'association-insertion-traversal' => 'siblings' } %>
  </div>
</div>