<div class='panel panel-default section nested-fields'>
  <div class='panel-heading'>
    <div><%= link_to_remove_association raw('<span aria-hidden="true">&times;</span>'), f, class: 'btn close btn-xs text-right' %></div>
    <div class="drag-handle"></div>
    <%= f.input :title, label: 'Group title', placeholder: t('surveys.defaults.section_title_placeholder') %>
  </div>
  <div class='panel-body'>
    <%= f.hidden_field :position, class: :section_position %>

    <%= f.error :questions, class: 'has-error' %>
    <div class="questions">
      <%= f.simple_fields_for :questions do |q| %>
        <%= render partial: 'surveys/create/question', locals: { f: q } %>
      <% end %>
    </div>

    <%= link_to_add_association raw('<span class="glyphicon glyphicon-plus" aria-hidden="true"></span> '+t('surveys.new.add_question')), f,
                                :questions, partial: 'surveys/create/question', class: 'btn btn-default',
                                data: { 'association-insertion-node' => '.questions', 'association-insertion-method' => 'append', 'association-insertion-traversal' => 'prev' } %>
  </div>
</div>