#survey {
  margin-bottom: 24px;

  .question, .section {
    .drag-handle {
      background: image-url("draghandle_horizontal.png") no-repeat center top;
      height: 12px;
      cursor: all-scroll;
      margin-bottom: 6px;
    }
  }

  .option {
    margin-bottom: 12px;
  }

 .questions-group .placeholder {
    border: black dotted 1px;
    border-radius: 3px;
  }

  .placeholder {
    border: black dotted 1px;
    border-radius: 3px;
  }

  .left-border {
    border-left: 1px solid #ddd;
  }

  .token-input-list-facebook {
    width: 361px;
  }
}
