<%= simple_form_for @answer, url: survey_answers_path(@survey.id) do |sa| %>
    <%= sa.error :question_answers, class: 'has-error' %>

    <div class='sections'>
      <% @survey.question_groups.each_with_index do |qg, group_index| %>
        <div class='panel panel-primary section'>
          <div class='panel-heading'><%= qg.title.blank? ? "Section #{group_index + 1}" : qg.title %></div>
          <div class='panel-body'>
            <div class='panel-group'>
              <div class="questions">
                <% qg.questions.order(:position).each do |q| %>
                  <%= sa.simple_fields_for :question_answers, sa.object.question_answers.select { |qas| qas.question_id == q.id }.first, index: q.id do |qa| %>
                    <div class='question'>
                      <% if q.question_type == 'text' %>
                        <%= qa.input :text, as: :string, label: q.text, required: q.mandatory, placeholder: t('surveys.show.placeholders.text') %>
                      <% elsif q.question_type == 'single_choice' %>
                        <%= qa.input :options,
                                     collection: q.options,
                                     as: :custom_radio_buttons,
                                     label_method: :text,
                                     value_method: :id,
                                     checked: qa.object.nil? ? q.options.first.id : qa.object.option_answers.map(&:option_id),
                                     label: q.text,
                                     required: q.mandatory %>
                      <% elsif q.question_type == 'multiple_choice' %>
                        <%= qa.input :options,
                                     collection: q.options,
                                     as: :custom_check_boxes,
                                     label_method: :text,
                                     value_method: :id,
                                     checked: qa.object.nil? ? [] : qa.object.option_answers.map(&:option_id),
                                     label: q.text,
                                     required: q.mandatory %>
                      <% elsif q.question_type == 'text_area' %>
                        <%= qa.input :text, as: :text, label: q.text, required: q.mandatory, placeholder: t('surveys.show.placeholders.text') %>
                      <% elsif q.question_type == 'date' %>
                        <%= qa.input :text, as: :date_picker, label: q.text, required: q.mandatory, placeholder: t('surveys.show.placeholders.date'), readonly: true  %>
                      <% elsif q.question_type == 'date_time' %>
                        <%= qa.input :text, as: :datetime_picker, label: q.text, required: q.mandatory, placeholder: t('surveys.show.placeholders.date_time'), readonly: true %>
                      <% elsif q.question_type == 'time' %>
                        <%= qa.input :text, as: :time_picker, label: q.text, required: q.mandatory, placeholder: t('surveys.show.placeholders.time'), readonly: true %>
                      <% elsif q.question_type == 'number' %>
                        <%= qa.input :text, as: :integer, label: q.text, required: q.mandatory, placeholder: t('surveys.show.placeholders.text') %>
                      <% end %>
                    </div>
                  <% end %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  <%= sa.button :submit, class: 'btn btn-primary', value: t('surveys.show.send_answer') %>
<% end %>