<%= simple_form_for resource, as: resource_name, url: password_path(resource_name), html: { class: 'col-lg-9' } do |f| %>
  <div class='panel panel-primary'>
    <div class='panel-heading'>
      <%= t('.forgot_password') %>
    </div>

    <div class='panel-body'>
      <%= f.input :email, input_html: { autofocus: true } %>
    </div>

    <div class='panel-footer'>
      <%= f.button :submit, class: 'btn btn-primary', value: t('.send_instructions') %>

      <div class='pull-right'>
        <%= link_to t('.sign_in'), new_session_path(resource_name), class: 'btn btn-info' %>
        <%= link_to t('.sign_up'), new_registration_path(resource_name), class: 'btn btn-info' %>
      </div>
    </div>
  </div>
<% end %>