<div class="modal fade" id="contact-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 class="modal-title"><%= t('.contact_admin') %></h4>
      </div>

      <form accept-charset='UTF-8' data-action='/contact'>
        <div class="modal-body">
          <div class="dialog-error dialog-message hidden-none"><%= t('.error') %></div>
          <div class="dialog-success dialog-message hidden-none"><%= t('.success') %></div>

          <input type='text' placeholder="<%= t('.email_prompt') %>" id='contact-email' class='form-control'>
          <textarea id='contact-body' placeholder="<%= t('.prompt') %>" class='form-control' rows='5'></textarea>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal"><%= t('.cancel') %></button>
          <button type="button" class="btn btn-primary send"><%= t('.send') %></button>
        </div>
      </form>
    </div>
  </div>
</div>