<ul class="nav navbar-top-links navbar-right">
<li class="dropdown">
  <a class="dropdown-toggle" data-toggle="dropdown" href="#">
    <i class="fa fa-user fa-fw"></i>  <i class="fa fa-caret-down"></i>
  </a>
  <ul class="dropdown-menu dropdown-user">
    <% if current_user %>
      <li>
        <%= link_to profile_path do %>
          <i class="fa fa-user fa-fw"></i> <%= t('.user_profile') %>
        <% end %>
      </li>
      <li class="divider"></li>
    <% end %>
    <li>
      <% if current_user %>
        <%= link_to destroy_user_session_path, method: :delete do %>
          <i class="fa fa-sign-out fa-fw"></i> Logout
        <% end %>
      <% else %>
        <%= link_to new_user_session_path do %>
          <i class="fa fa-sign-out fa-fw"></i> Login
        <% end %>
      <% end %>
    </li>
  </ul>
</li>
</ul>