<div class="navbar-collapse collapse navbar-responsive-collapse">
  <ul class="nav navbar-nav">
    <% if Survey.initializable_by?(current_user) %>
      <li><%= link_to t('shared.topmenu.new_survey'), new_survey_path %></li>
      <li><%= link_to t('shared.topmenu.manage_surveys'), manage_surveys_path %></li>
    <% end %>
    <% if current_user %>
      <li><%= link_to t('shared.topmenu.surveys_list'), surveys_path %></li>
      <li><%= link_to t('shared.topmenu.your_answers'), your_answers_path %></li>
    <% end %>
    <% if current_user.try(:admin?) %>
      <li><%= link_to t('.admin_panel'), admin_statistics_path  %></li>
    <% end %>
  </ul>
</div>