<div class="jumbotron">
  <div class="container">
    <h1>Welcome to Survey Creator!</h1>
    <p>You have to sign in in order to use this service</p>
    <p>
      <%= link_to 'Sign in', new_user_session_path, class: 'btn btn-primary btn-lg' %>
    </p>
  </div>
</div>