<div class="row">
  <div class="col-lg-6 col-md-6">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <div class="row">
          <div class="col-xs-3"><i class="fa fa-male fa-5x"></i></div>
          <div class="col-xs-9 text-right">
            <div class="huge"><%= (Date.today - current_user.created_at.to_date).to_i %></div>
            <div><%= t('.days_since_registration') %></div>
          </div>
        </div>
      </div>
      <a href="<%= profile_path %>">
        <div class="panel-footer"><span class="pull-left"><%= t('.edit_profile') %></span>
          <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
          <div class="clearfix"></div>
        </div>
      </a>
    </div>
  </div>
  <div class="col-lg-6 col-md-6">
    <div class="panel panel-yellow">
      <div class="panel-heading">
        <div class="row">
          <div class="col-xs-3"><i class="fa fa-check-square-o fa-5x"></i></div>
          <div class="col-xs-9 text-right">
            <div class="huge"><%= Survey.answerable_by(current_user).count %></div>
            <div><%= t('.answerable_surveys') %></div>
          </div>
        </div>
      </div>
      <a href="<%= surveys_path %>">
        <div class="panel-footer"><span class="pull-left"><%= t('.view_available_surveys') %></span>
          <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
          <div class="clearfix"></div>
        </div>
      </a>
    </div>
  </div>
  <% if Survey.initializable_by?(current_user) %>
    <div class="col-lg-6 col-md-6">
      <div class="panel panel-red">
        <div class="panel-heading">
          <div class="row">
            <div class="col-xs-3"><i class="fa fa-pencil-square-o fa-5x"></i></div>
            <div class="col-xs-9 text-right">
              <div class="huge"><%= current_user.surveys.count %></div>
              <div><%= t('.surveys_created_by_you') %></div>
            </div>
          </div>
        </div>
        <a href="<%= manage_surveys_path%>">
          <div class="panel-footer"><span class="pull-left"><%= t('.manage_my_surveys') %></span>
            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
            <div class="clearfix"></div>
          </div>
        </a>
      </div>
    </div>
  <% end %>
  <div class="col-lg-6 col-md-6">
    <div class="panel panel-green">
      <div class="panel-heading">
        <div class="row">
          <div class="col-xs-3"><i class="fa fa-tasks fa-5x"></i></div>
          <div class="col-xs-9 text-right">
            <div class="huge"><%= current_user.survey_answers.count %></div>
            <div><%= t('.your_answers') %></div>
          </div>
        </div>
      </div>
      <a href="<%= your_answers_path %>">
        <div class="panel-footer"><span class="pull-left"><%= t('.view_my_answers') %></span>
          <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
          <div class="clearfix"></div>
        </div>
      </a>
    </div>
  </div>
</div>