<div class='sections panel-group'>
  <% @survey.question_groups.each_with_index do |qg, group_index| %>
    <div class='panel panel-primary section'>
      <div class='panel-heading'>
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent=".sections" href="#question-group-<%= group_index %>">
            <%= qg.title.blank? ? "Section #{group_index + 1}" : qg.title %>
          </a>
        </h4>
      </div>
      <div id="question-group-<%= group_index %>" class="panel-collapse collapse <%= group_index > 0 ? '' : 'in' %>">
        <div class='panel-body'>
          <% qg.questions.each.with_index do |q, i| %>
            <h2 class="question-text"><%= "#{i+1}. #{q.text}" %> </h2>
            <div class='question'>
              <ul>
                <% case q.question_type
                     when 'text', 'text_area', 'date', 'date_time', 'time' %>
                   <li><strong><%= @answer.question_answers.find_by_question_id(q.id).try(:text) %></strong></li>
                <% when 'single_choice', 'multiple_choice' %>
                    <% q.options.each do |o| %>
                      <li>
                        <%= option_text(o) %>
                      </li>
                    <% end %>
                <% end %>
              </ul>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>