<div id='survey-results'>
  <div class="page-header">
    <h1><%= @survey.title %></h1>
  </div>

  <% if @survey.survey_answers.empty? %>
    <h4><%= t('.no_answers_message') %></h4>
  <% else %>

    <div class="panel panel-primary">
      <div class='panel-heading'>
        <h4 class="panel-title">
          Answers
        </h4>
      </div>

      <div class='panel-body'>
        <ul>
          <% @survey.survey_answers.each do |sa| %>
            <li><strong><%= link_to user_display_email(sa.user), survey_answer_path(@survey, sa) %></strong> - <%= sa.created_at %></li>
          <% end %>
        </ul>
      </div>
    </div>

    <div class='sections'>
      <% @survey.question_groups.each_with_index do |qg, group_index| %>
        <div class='panel panel-primary section'>
          <div class='panel-heading'><%= qg.title.blank? ? "Section #{group_index + 1}" : qg.title %></div>
          <div class='panel-body'>
            <div class='panel-group'>
              <div class="questions">
                <% qg.questions.order(:position).each.with_index do |q, i| %>
                  <h2 class="question-text"><%= "#{i+1}. #{q.text}" %> </h2>
                  <div class='question'>
                    <% case q.question_type
                         when 'text', 'text_area' %>
                      <ul>
                        <% q.question_answers.each do |qa| %>
                          <li><strong><%= user_display_email(qa.survey_answer.user) %></strong> - <%= qa.text %></li>
                        <% end %>
                      </ul>
                    <% when 'single_choice' %>
                      <%= pie_chart q.options.joins(:option_answers).group(:text).count %>
                    <% when 'multiple_choice' %>
                      <%= column_chart q.options.joins(:option_answers).group(:text).count %>
                    <% when 'date', 'date_time', 'time', 'number' %>
                      <%= column_chart q.question_answers.group(:text).count %>
                    <% end %>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>