<div id='survey-results'>
  <div class="page-header">
    <h1><%= @survey.title %> - <%= t('answers.show.answer_by') %> <%= user_display_email(@answer.user) %></h1>
  </div>

  <%= render 'details' %>
</div>