.buttons-panel {
  padding-bottom: 15px;
}

.groups-div {
  padding-bottom: 10px;
}

.form-group.check-boxes input[type="checkbox"] {
  margin-bottom: 5px;
}

html, body, #page-wrapper, #wrapper {
  height: 100%;
}