<%= simple_form_for resource, as: resource_name, url: session_path(resource_name), html: { class: 'col-lg-9' } do |f| %>
  <div class='panel panel-primary'>
    <div class='panel-heading'>
      <%= t('.sign_in') %>
    </div>

    <div class='panel-body'>
      <%= f.input :email, input_html: { autofocus: true } %>
      <%= f.input :password, input_html: { autocomplete: 'off' } %>
      <%= f.input :remember_me, as: :boolean %>
    </div>

    <div class='panel-footer'>
      <%= f.button :submit, class: 'btn btn-primary', value: t('.sign_in') %>

      <div class='pull-right'>
        <%= link_to t('.sign_up'), new_registration_path(resource_name), class: 'btn btn-info' %>
        <%= link_to t('.forgot_password'), new_password_path(resource_name), class: 'btn btn-info' %>
      </div>
    </div>
  </div>
<% end %>
