<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
    <tr>
      <th><%= sort_link t('your_answers.index.survey_title'), :survey_title %></th>
      <th><%= sort_link t('your_answers.index.answered_at'), :created_at %></th>
    </tr>
    </thead>
    <tbody>
    <% @answers.each do |answer| %>
      <tr>
        <td><%= link_to(answer.survey.title, your_answer_path(answer)) %></td>
        <td><%= answer.created_at %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
  <%= will_paginate @answers, renderer: BootstrapPagination::Rails %>
</div>