<div>
  <h3><%= t('surveys.create.header') %></h3>
  <%= t('surveys.create.you_can') %>
  <ul>
    <li><%= t('surveys.create.answer') %> <%= link_to t('surveys.create.here'), survey_path(@survey) %></li>
    <li><%= t('surveys.create.edit') %> <%= link_to t('surveys.create.here'), edit_survey_path(@survey) %></li>
    <li><%= t('surveys.create.remove') %> <%= link_to t('surveys.create.here'), survey_path(@survey), method: :delete, data: { confirm: t('are_you_sure') } %></li>
    <li><%= t('surveys.create.see_results') %> <%= link_to t('surveys.create.here'), survey_answers_path(@survey) %></li>
  </ul>
</div>