<div>
  <%= page_header t('.available_surveys'), tooltip: { title: t('.tooltip') } %>

  <% if @surveys.empty? %>
    <h4><%= t('.no_surveys_message') %></h4>
  <% else %>
    <%= render partial: 'surveys/index/list' %>
  <% end %>
</div>
