<div>
  <%= page_header t('.manage_surveys'), tooltip: { title: t('.tooltip') } %>
  <% if @surveys.empty? %>
    <h4>
      <%= t('.no_surveys_message') %><%= link_to t('surveys.create.here'), new_survey_path(@survey) %>
    </h4>
  <% else %>
    <div class="table-responsive">
      <table class="table table-striped table-bordered table-hover">
        <thead>
        <tr>
          <th><%= sort_link t('.title'), :title %></th>
          <th><%= sort_link t('.created_at'), :created_at %></th>
          <th><%= sort_link t('.active_since'), :active_since %></th>
          <th><%= sort_link t('.active_until'), :active_until %></th>
          <th><%= t('surveys.manage.answers_header') %></th>
          <th><%= t('edit') %></th>
          <th><%= t('close') %></th>
          <th><%= t('delete') %></th>
        </tr>
        </thead>
        <tbody>
        <% @surveys.order(:id).each do |survey| %>
          <tr>
            <td><%= survey.title %></td>
            <td><%= survey.created_at %></td>
            <td><%= survey.active_since || '-' %></td>
            <td><%= survey.active_until || '-'%></td>
            <td><%= link_to t('surveys.manage.answers_link'), survey_answers_path(survey) %></td>
            <td><%= link_to t('edit'), edit_survey_path(survey) %></td>
            <td><%= survey.ongoing? ? link_to(t('close'), survey_close_path(survey), method: :put) : '-' %></td>
            <td><%= link_to t('delete'), survey_path(survey), method: :delete, data: { confirm: t('are_you_sure') } %></td>
          </tr>
        <% end %>
        </tbody>
      </table>
      <%= will_paginate @surveys, renderer: BootstrapPagination::Rails %>
    </div>
  <% end %>

</div>
