<div id='survey-answer'>
  <div class="page-header">
    <h1><%= @survey.title %></h1>
    <%= activity_dates_subtitle(@survey) %>
  </div>
  <% if @survey.total_answer_limit_reached? %>
    <h3 class='error'><%= t('errors.messages.total_answer_limit_reached') %></h3>
  <% elsif @survey.answer_limit_per_user_reached?(current_user.id) %>
    <h3 class='error'><%= t('errors.messages.answer_limit_per_user_reached') %></h3>
  <% elsif @survey.ongoing? %>
    <%= render partial: 'surveys/show/answer_form' %>
  <% end %>
</div>