<%= simple_form_for [:admin, @group], html: { class: 'col-lg-6' } do |f| %>
  <%= f.input :name %>

  <div class='panel panel-default'>

    <div class='panel-heading'><%= t('.users') %></div>

    <div class='panel-body'>

    <input name='group[token_user_ids][]' class='user-autocomplete' type='text' data-pre="<%= @group.users.map(&:autocomplete_format).to_json %>">

    </div>
  </div>

  <%= f.button :submit %>
<% end %>