<div class='buttons-panel'>
  <%= link_to new_admin_group_path do %>
    <span class='btn btn-success'><%= t('.new_group') %></span>
  <% end %>
</div>

<div>
  <div class="table-responsive">
    <table class="table table-striped table-bordered table-hover">
      <thead>
        <tr>
          <th><%= t('.name') %></th>
          <th><%= t(:edit) %></th>
          <th><%= t(:delete) %></th>
        </tr>
      </thead>
      <tbody>
        <% @groups.each do |group| %>
          <tr>
            <td><%= group.name %></td>
            <td><%= link_to t(:edit), edit_admin_group_path(group) %></td>
            <td><%= link_to t(:delete), [:admin, group], method: :delete, data: { confirm: t(:are_you_sure) } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
