<%= simple_nested_form_for @user, as: :user, url: admin_user_path(@user.id), method: :put, html: { class: 'col-lg-6' } do |f| %>

  <%= f.input :email %>
  <%= f.input :first_name %>
  <%= f.input :last_name %>
  <%= f.input :type, collection: User::TYPES, include_blank: false %>

  <div class='panel panel-default'>

    <div class='panel-heading'><%= t('.groups') %></div>

    <div class='panel-body'>

    <input name='user[token_group_ids][]' class='group-autocomplete' type='text' data-pre="<%= @user.groups.to_json %>">

    </div>
  </div>
  <%= f.button :submit %>
<% end %>