<div class='buttons-panel'>
  <%= link_to new_admin_user_path do %>
    <span class='btn btn-success'><%= t('.new_user') %></span>
  <% end %>
</div>

<div>
  <div class="table-responsive">
    <table class="table table-striped table-bordered table-hover">
      <thead>
        <tr>
          <th><%= t('.first_name') %></th>
          <th><%= t('.last_name') %></th>
          <th><%= t('.email') %></th>
          <th><%= t('.type') %></th>
          <th><%= t(:edit) %></th>
          <th><%= t(:delete) %></th>
        </tr>
      </thead>
      <tbody>
        <% @users.each do |user| %>
          <% if !user.deleted_user? %>
            <tr>
              <td><%= user.first_name %></td>
              <td><%= user.last_name %></td>
              <td><%= user_display_email(user) %></td>
              <td><%= user.type %></td>
              <td><%= link_to t(:edit), edit_admin_user_path(user) %></td>
              <td>
                  <%= current_user != user ? link_to(t(:delete), "users/#{user.id}", method: :delete, data: { confirm: t(:are_you_sure) }) : '-' %>
              </td>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>

  </div>
  <%= will_paginate @users, renderer: BootstrapPagination::Rails %>
</div>
