<div class="navbar-default sidebar" role="navigation">
  <div class="sidebar-nav navbar-collapse">
    <ul class="nav" id="side-menu">
      <li>
        <a href="<%= admin_statistics_path %>"><i class="fa fa-bar-chart-o fa-fw"></i> <%= t('.dashboard') %></a>
      </li>
      <li>
        <%= link_to admin_users_path do %>
            <i class="fa fa-dashboard fa-fw"></i>
            <%= t('.users') %>
        <% end %>
      </li>
      <li>
        <%= link_to admin_groups_path do %>
            <i class="fa fa-table fa-fw"></i>
            <%= t('.groups') %>
        <% end %>
      </li>
      <li>
        <%= link_to root_path do %>
            <i class="fa fa-hand-o-left fa-fw"></i>
            <%= t('.back_to_creator') %>
        <% end %>
      </li>
    </ul>
  </div>
</div>