@import 'colors';

.has-error {
  &.help-block { color: $error; }
}

.error { color: $error; }

th {
  color: $table-header;

  a { color: $table-header; }
  a:hover { color: $table-header; }
}

.hidden-none {
  display: none;
}

.fl { float: left; }
.fr { float: right; }

.header-tooltip {
  position: relative;
  top: 30px;
}

#contact-admin-link {
  color: #428bca;
  &:hover {
    cursor: pointer;
    cursor: hand;
  }
}

#contact-modal {
  .dialog-message {
    margin-bottom: 15px;
    font-size: 14px;
    color: #ffffff;
    padding: 10px 30px 10px 30px;
  }

  .dialog-error {
    background-color: #e40a00;
  }

  .dialog-success {
    background-color: #45a54c;
  }

  input {
    margin-bottom: 10px;
  }
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 80px;
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}

.container .text-muted {
  margin: 20px 0;
}

#footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

.page-header {
  margin-top: 0;
}