<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Survey Creator" %></title>
    <%= csrf_meta_tags %>

    <!--[if lt IE 9]>
      <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.1/html5shiv.js" type="text/javascript"></script>
    <![endif]-->

    <%= stylesheet_link_tag "application", :media => "all" %>

    <%= favicon_link_tag 'apple-touch-icon-144x144-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '144x144' %>
    <%= favicon_link_tag 'apple-touch-icon-114x114-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '114x114' %>
    <%= favicon_link_tag 'apple-touch-icon-72x72-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '72x72' %>
    <%= favicon_link_tag 'apple-touch-icon-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png' %>
    <%= favicon_link_tag 'favicon.ico', :rel => 'shortcut icon' %>

    <%= javascript_include_tag "application" %>
  </head>
  <body>

    <div class="navbar navbar-default navbar-static-top">
      <div class="container">

        <%= render 'shared/profile_dropdown' %>

        <%= link_to t(:appname), root_path, class: 'navbar-brand' %>
        <%= render 'shared/topmenu' %>
      </div>
    </div>

    <div id="content-wrapper">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <%= bootstrap_flash %>
            <%= yield %>
          </div>
        </div>
      </div>
    </div>
    <%= render 'shared/contact_modal' %>
    <div id="footer">
      <div class="container">
        <p class="text-muted">&copy; Jan Bajena and Marcin Kołodziej | <span id='contact-admin-link'><%= t(:contact_admin) %></span></p>
      </div>
    </div>
  </body>
</html>
